
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
    background-color: rgb(28, 102, 146);
    height: 100px;
    width: auto; 
    
}
.container{
    max-width: 760px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header--logo{
    width: 300px;
    height: 90px;
    background-color: rgb(25, 65, 110);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -20px;
    position: relative;
    margin-right: 20px;
}

.header--nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: #fff;
    
    
}
.header--nav-bar--items_change{
    background-color: rgb(73, 119, 198);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.header--nav-bar--items{
    background-color: rgb(23, 44, 79);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
}
.container--presentacion{
    max-width: 760px;
    margin: auto;
}
.presentacion-principal{
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 250px;
    background-color: #91a5a9;
    border: #377885 solid 2px;
    
}
.presentacion--nombre{
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 20px;
    color: #fff;
}
.presentacion--pinturas{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.pinturas{
    border: #377885 solid 2px;
    box-shadow: 0px 15px 20px black;
}
.presentacion--poemas{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    gap: 100px;
}
.poemas{
    font-size: 10px;
}
.titulo--poema{
    font-size: 15px;
}
