
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
    background-color: rgb(28, 102, 146);
    height: 100px;
    width: auto; 
    
}
.container{
    max-width: 760px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
body{
    background-color: beige;
}

.header--logo{
    width: 300px;
    height: 90px;
    background-color: rgb(25, 65, 110);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -20px;
    position: relative;
    margin-right: 20px;
}

.header--nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: #fff;
    
    
}
.header--nav-bar--items_change{
    background-color: rgb(73, 119, 198);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 10px;
}

.header--nav-bar--items{
    background-color: rgb(23, 44, 79);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 10px;
}
.container--presentation{
    max-width: 760px;
    margin: auto;
}
.main--presentation{
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 250px;
    background-color: #91a5a9;
    border: #377885 solid 2px;
    border-radius: 3px;
}
.name--presentation{
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 20px;
    color: #fff;
    margin-left: 100px;
}
.paintings--presentation{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.paintings{
    border: #377885 solid 2px;
    border-radius: 3px;
    box-shadow: 0px 15px 20px black;
}
.poetry--presentation{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: auto;
    gap: 100px;
}
.poetry{
    font-size: 10px;
}
.poetry--title{
    font-size: 15px;
}

.info--left{
    border-radius: 3px;
    margin-top: 30px;
    height: auto;
    width: 370px;
    border: #377885 solid 3px;
    background-color: #fff;
}
.info--left_title{
    background-color:  rgb(25, 65, 110);
    width: 100px;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10px;
    top: -20px;
    padding: 10px;
}
.info--left--img{
    height: 100px;
    width: auto;
    margin-left: 10px; 
    display: flex;
    flex-direction: row;
}
.info--left--prologue{
  padding: 0 0 0 20px;
   

}
.info--left--explanation{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}